<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codility.introsilder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.biswajitbanik.Diem.RequestorActivity">

        </activity>
        <activity android:name="com.biswajitbanik.Diem.PagerActivity" />
        <activity
            android:name="com.biswajitbanik.Diem.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuHdQJOZkFEeyBUuaYF6P7b1ksCsd7rC0" />

        <activity android:name="com.biswajitbanik.Diem.Location.ViewModel.LocationPickerActivity" />
        <activity android:name="com.biswajitbanik.Diem.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>